$font-poppins: 'Poppins', sans-serif;

:root{
    --light: #ffffff;
    --dark:#131c2f;
    --blue: #0079ff;
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}