@import '../css/reset.css';
@import './variables';

body{
    background-color: $dark;
    color: $light;
}

body.light{
    color: $dark;
    background-color: $light;
}

.container{
    max-width: 1170px;
    padding: 0 15px;
}