@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import '../css/reset.css';
@import './variables';
@import './spinner';

body{
    background-color: var(--dark);
    color: var(--light);
    font-family: $font-poppins;
}

body.dark{
    --light:#0d0f6d;
    --dark:#e9e9e9;
}

.container{
    max-width: 1250px;
    padding: 0 15px;
    margin: 0 auto;
}

.header{
    background-color: #080957;
    padding: 1em 0;
    border-bottom: 2px solid #b0b0b0;

    > div{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .name{
            color: #fff;
            letter-spacing: 3px;
            font-size: 1.3em;
        }

        .dark-mode{
            background-color: var(--red);
            margin-left: 100px;
            button{
                color: var(--light);
                background-color: var(--dark);
                padding: .4em .7em .4em 3em;
                border-radius: 50px;
                border: 1px solid var(--light);
                position: relative;
                transition: all .5s ease;
    
                &::after{
                    position: absolute;
                    content: "";
                    width: 31px;
                    height: 31px;
                    left: 4px;
                    top: 3px;
                    border-radius: 50%;
                    background-color: var(--light);
                    transition: all .5s ease;
                }
    
                &::before{
                    position: absolute;
                    content: "☀️";
                    width: 31px;
                    height: 31px;
                    left: 4px;
                    font-size: 1.3em;
                    top: 4px;
                    border-radius: 50%;
                }
    
                &.dark{
                    &::after{
                        left: 40px;
                    }
                }
                
            }
        }
    }

    img{
        width: 170px;
    }
}

.main{
    margin-top: 2em;
    
    > div{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .input{
        position: relative;
    }

    input[data-id="search"], .btn{
        border: 2px solid var(--light);
        border-radius: 10px;
        padding: .7em 3em .7em 1em;
    }
    input[data-id="search"]{
        width: 400px;
    }

    .btn{
        background-color: var(--light);
        color: var(--dark);
        padding: .6em;
        position: absolute;
        right: 0;
        top: 2px;
    }

}

.result{
    width: 700px;
    margin-top: 2em;
    background-color:#1f2a48;
    padding: 2.5em;
    border-radius: 20px;
    gap: 50px;
    color: #fff;
    box-shadow: -3px 3px 15px var(--light);

    &.hide{
        display: none;
    }

    .left-side{
        .profile-img{
            width: 150px;
            height: 150px;
            border: 2px solid #fff;
            border-radius: 50%;
            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }

    .right-side{
        width: 100%;
        
        .name {
            h1{
                font-size: 1.5em;
                letter-spacing: 2px;
            }

            .username {
                margin-top: .5em;
                font-size: .8em;
                letter-spacing: 1.5px;
                a{
                    color: var(--blue);
                }
            }
        }

        .date {
            font-size: .9em;
            color: #b0b0b0;
        }
        .bio {
            margin: 2em 0;
            color: #b9b5b5;
            font-size: .90em;
        }
        .banner-followers {
            background-color: #131c2f;
            padding: 1em;
            border-radius: 10px;
            margin-bottom: 2em;

            > div {
                color: #b0b0b0;
                > div {
                    font-weight: 600;
                }

                > span{
                    color: #fff;
                }
            }

        }
    }
}

//? message
.message{
    margin-top: 2em;
    text-align: center;
    max-width: 600px;
    background-color: var(--light);
    color: var(--dark);
    padding: .7em 1.3em;
    border-radius: 11px;

    &.hide{
        display: none;
    }
}

//? spinner
.spinner{
    display: none;
}