@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import '../css/reset.css';
@import './variables';

body{
    background-color: $dark;
    color: $light;
    font-family: $font-poppins;
}

body.light{
    color: $dark;
    background-color: $light;
}

.container{
    max-width: 1170px;
    padding: 0 15px;
}

.header{
    background-color: #080957;
    padding: 1em 0;

    > div{
        display: flex;
        align-items: center;
    }

    border-bottom: 2px solid $light;

    img{
        width: 170px;
    }
}