@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap')

*
    margin: 0
    padding: 0

$border: #fff
$background: rgba(255, 255, 255, 0.85)

body
    background-image: url('../../img/img.jpg')
    font-family: 'Poppins', sans-serif
    background-repeat: no-repeat
::selection
    background: #a368d4
    color: $border

.container
    max-width: 500px
    margin: 0 auto
    border: 1px solid $border
    background: $background
    backdrop-filter: 5px
    border-radius: 20px
    margin-top: 17%
    padding: 35px 40px
    position: relative

    h1
        text-align: center
        font-weight: 500
        margin-bottom: 7px
    p
        display: inline
        letter-spacing: 1px

    .flex
        display: flex

    .justify-between
        justify-content: space-between

    .author
        margin: 20px 0
        text-align: end
        padding-bottom: 15px
        border-bottom: 1px solid #999
        font-style: italic

        span

    button
        cursor: pointer

    .btn
        border-radius: 50%
        padding: 10px 11px
        background: $background
        border: 1px solid #a368d4
        color: #a368d4
        font-size: 1.1em
        transition: all .3s ease

        &:hover
            border-color: $border
            color: $border
            background: #a368d4

        &:not(:last-child)
            margin-right: 10px

    #change-quote
        border: 1px solid $border
        background: #a368d4
        color: $border
        border-radius: 20px
        padding: .2em 1em
        transition: all .3s ease

        &:hover
            color: #a368d4
            background: $background
            border-color: #a368d4
    .message
        font-size: .7em
        position: absolute
        bottom: 10px
        right: 37%
        padding: 5px 10px
        border-radius: 10px
        color: green
        background: rgba(163, 104, 212, .1)
        &.hide
            display: none

@media screen and (max-width: 767px)
    .container
        margin-top: 50%

    .message
        bottom: 4px !important
        right: 31% !important
