@import '../css/reset.css';
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");
@import './variables';


body{
    background: url('https://img.freepik.com/premium-vector/star-sky-space-stars-background-glitter-particles_160081-317.jpg');
    font-family: "Poppins", sans-serif;
    color: $light;
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header{
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding: 0 15px;

    img{
        max-width: 400px;
    }

    .dark-mode{
        position: absolute;
        right: 0;
        top: 0;
    }
}

.main{
    .text-header{
        font-size: 2em;
        font-weight: 500;
        letter-spacing: 2px;
        text-align: center;
    }

    #favorites{
        justify-content: center;
        margin: 1em 0 3em 0;
        .circle{
            width: 60px;
            border-radius: 50%;
            border: 2px solid #fff;
            cursor: pointer;
            transition: all .3s ease;

            &:hover{
                border-color: $red;
            }
        }
        img{
            border-radius: 50%;
            width: 100%;
        }
    }

    .card{
        background-color: $light;
        max-width: 200px;
        height: 250px;
        border-radius: 10px;
        border: 1px solid $light;
        box-shadow: -2px -2px 20px $light;

        img{
            width: 100%;
            height: 90%;
            object-fit: cover;
            border-radius: 10px;
        }

        .name, i{
            color: $dark;
            cursor: pointer;
        }

        i{
            transition: all .3s ease;
            &:hover{
                color: $red;
            }

            &.liked{
                color: $red;
            }
        }
    }


}


