@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(31, 173, 135);
    background: linear-gradient(-45deg, #00ffd5, #03fc90, #0dc6de, #22b075, #06b5a6, #0c8e7f, #0aa9d1, #0b6163, #48f5ec);
    background-size: 300% 300%;
    animation: glow 20s ease infinite;
}

/* live background */
@keyframes glow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.header {
    margin-top: 100px;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 600px;
    height: 200px;
    border: 1px solid #000;
    border-radius: 40px;
    box-shadow: -7px -7px 10px rgb(0, 109, 101);
    background-color: rgb(215, 215, 215);
}

/* line */
hr {
    width: 100%;
    height: 3px;
    background-color: #000;
}

.column {
    display: flex;
    flex-direction: row;
}

/* Today's Date */
.current-time {
    display: flex;
    font-size: 20px;
    flex-direction: column;
    align-items: center;

}

.birth-time {
    display: flex;
    font-size: 20px;
    flex-direction: column;
    align-items: center;

}

.container-2 {
    margin-top: 50px;
    height: 200px;
    justify-content: center;
}

/* My BirthDay */
.now {
    display: flex;
}

.now div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 75px;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 600;
}

.now div:not(:last-child) {
    margin-right: 30px;
}

/* Conctainer names */
.now-name {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 20px;
    color: rgb(55, 11, 11);
}

.now-name div:not(:last-child) {
    margin-right: 40px;
}

.now-name div:nth-child(3) {
    margin-right: 55px;
}

.container-1 {
    height: 50px;
    margin-bottom: 20px;
    background-color: transparent;
    box-shadow: 0 0 0;
    border-radius: 0;
    border: 0;
    text-align: center;
    align-items: center;
    font-weight: 600;
}

.container-3 {
    margin-top: 30px;
}

.container-3 p {
    background-color: rgb(0, 0, 0);
    padding: 0 15px;
    border-radius: 7px;
    color: #fff;
}
