@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap")

@mixin message($width)
    font-size: .8em
    margin-top: 1em
    background-color: #f15030
    color: #fff
    width: $width
    border-radius: 10px
    margin: 1em auto 0 auto

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    background: #f15030
    color: #000
    font-family: "Poppins", sans-serif

::selection
    background-color: #f15030
    color: #fff

.container
    max-width: 1200px
    margin: 0 auto
    padding: 2em 3em
    padding-bottom: 5em
    margin-top: 2%
    background: #fff
    text-align: center
    border-radius: 10px
    box-shadow: 0px 0px 10px #000

    .block
        max-width: 420px
        margin: 0 auto

        h1
            font-size: 1.5em
            font-weight: 600

        p
            font-size: .8em
            margin: 1em 0

        .button
            position: relative
            input
                width: 100%
                border-radius: 20px
                padding: 1em .5em
                border: 2px solid #f15030
                outline: none

            button
                position: absolute
                padding: 1em .7em
                border-radius: 0px 20px 20px 0
                background-color: #f15030
                border: 1px solid #f15030
                right: 0
                top: 1px
                outline: none
                cursor: pointer

                &:hover
                    background: #ea4220

                i
                    text-align: center
                    color: #fff
            .message
                @include message(200px)
                display: none
                &.show
                    display: block

    .result
        margin-top: 30px
        display: flex
        flex-direction: column
        align-items: center

        &.hide
            display: none

        h1
            font-weight: 600
            font-size: 1.9em
            text-transform: capitalize
            margin-bottom: 25px
        .no-result
            @include message(300px)
            &.hide
                display: none

        .result-block
            display: flex
            flex-wrap: wrap
            justify-content: center
            gap: 50px

            .result-card
                width: 280px
                min-height: 330px
                border-radius: 20px
                padding-bottom: 1em
                box-shadow: 0 0 7px #000
                img
                    width: 100%
                    border-radius: 20px 20px 0 0
                    height: 330px
                    object-fit: cover
                h3
                    font-weight: 600
                    margin: .5em 0

                button
                    background-color: #ea4220
                    border: 1px solid #ea4220
                    color: #fff
                    font-weight: 600
                    padding: .7em 1.5em
                    border-radius: 25px
                    cursor: pointer

                    &:hover
                        background-color: #fff
                        border-color: #ea4220
                        color: #ea4220

    .info-about-foods
        margin-top: 5%
        border: 1px solid #d7d7d7
        border-radius: 10px
        padding: .5em

        &.hide
            display: none

        .row
            display: flex
            gap: 20px

            h2
                font-size: 2em
                font-weight: 600
                margin-bottom: 15px

            .left-side
                max-width: 420px

                h3
                    margin: 30px 0 10px 0
                p
                    text-align: center

                img
                    width: 100%
                    border-radius: 10px
                    box-shadow: 0px 0px 5px #000

            .right-side
                width: 100%

                .ingredient-cards
                    display: flex
                    flex-wrap: wrap
                    justify-content: space-between
                    .card
                        max-width: 190px

                        p
                            span
                                font-weight: 500
                        img
                            width: 100%
                            text-shadow: 0px 0px 7px #000
