@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background: #715884;
    // background: linear-gradient(360deg, rgba(85,195,34,1) 0%, rgba(45,86,253,1) 100%);
}

::placeholder{
    color: #adadad;
    font-size: 1.3em;
}

.container{
    max-width: 600px;
    border: 1px solid #fff;
    background: linear-gradient(to right bottom,rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5));
    margin: 15% auto 0;
    text-align: center;
    padding: 40px 10px; 
    border-radius: 20px;
    gap: 20px;

    >form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        gap: 20px;

        >div {
            input{
                &:first-child, &:nth-child(2){
                    width: 140px;
                    &:not(:last-child){
                        margin-right: 20px;
                    }
                }
            }
        }
    }
    .name{  
        font-weight: 700;
        font-size: 2em;
        letter-spacing: 5px;
        margin-bottom: 20px;
    }
    .flex{
        display: flex;
    }

    input{
        border-radius: 20px;
        padding: 10px 20px;
        border: none;
        box-shadow: 2px 2px 2px #000;
        width: 300px;
        outline: none;
        &:is(:focus){
            background-color: #e7e7e7;
        }

    }

    .btn{
        padding: 10px 20px;
        font-size: 1.1em;
        color: #fff;
        background-color: #a435ee;
        border-radius: 20px;
        cursor: pointer;
        border: none;
        box-shadow: 2px 2px 2px #000;

        &:is(:active){
            background-color: #632c88;
            box-shadow: 0px 0px 0px #000;
        }

    }


}
